#root{
  width: 350px;
  margin: 50px auto;
}

.calclator{
  width:320px;
  height: 500px;
  border:2px solid black;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.resultValue{
  text-align: end;
  height: 100%;
  font-size: 50px;
  color: white;

}

.topBtn{
  display: inline-flex;
}



.opBtn{
  float: right;
}

.underBtn{
  vertical-align: top;
}



button{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 5px;
    background: #555555;
    border: none;
    color: white;
    font-size: 30px;
    padding: 0;vertical-align: top;

    
}

